﻿@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap');
body {
       font-family: 'Mukta', sans-serif;
       background-color: #fff;
}
ul {
    margin-bottom: 0;
}
.nav-link.active {
    background: #3490dc !important;
    color: #fff !important;
}
.navbar.profil {
    background-color: #191919;
}
.navbar, .navbar > .container, .navbar > .container-fluid {
    justify-content: flex-start;
}

.section-title {
    font-weight: 500;
font-size: 3rem;
margin-top: 25px;
}
.address {
    text-align: left;
    color: #727272;
}
.inner-block {
    color: #727272;
}
.nomargin{
    margin: 0;
}
.nopadding {
    padding: 0;
}

.openlist li {
        text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    display: block;
    padding: 10px 0;
}
.openlist li .value {
    text-align: right;
    color: #d39325;
}
img {
    max-width: 100%;
}
.zapytaj-termin {
    background: #f5f5f5;
padding: 15px;
margin: 25px 0;
}
label{
    width:100%;
    
    display: block;
}
.bold {
    font-weight: bold;
}
.btn-primary {
    display: block;
width: 100%;
border: 0;
margin: 15px 0;
padding: 15px;
background: #d39325;
}
.box-salon 
{
    border:3px solid #d39325;
    margin: 25px 0;
    padding: 10px;
    font-weight: bold;
}
.box-salon img {
    display: inline-block;
}
textarea {
    margin:15px 0;
}
.openlist li span {
    width: 49%;
display: inline-block;
}

.add.yellow {
    color: #d39325;
}
.reviews-content li {
    display: block;
}
.reviews-content ul {
    padding: 0;
}
ul.services_price li {
    list-style: circle;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}
ul.services_price .name {
    width: 49%;
display: inline-block;
}
ul.services_price .price {
    width: 49%;
    color: #d39325;
    display: inline-block;
    text-align: right;
}

#map {
 
    width: 100%;
    height: 300px;
    margin: 15px 0;

}
.ratings {
    cursor: pointer;
}
.btn-floating.icon {
    width: 48px;
    height: 48px;
    border: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -24px;
    margin-top: -24px;
}


.leaflet-div-icon {
    background-color: transparent;
    border: 0px;
}
.feature_gallery {
    background-size: cover;
    background-color: #eee;
    width: 100%;
    height: 350px;
    display: block;
}
.footer {
    background-color: #0d0d0d;
    color: #424242;
    padding: 25px 0;
    width: 100%;
    display: block;
    margin-top: 50px;
    text-transform: uppercase;
    clear: both;
}
.btn-outline {
    display: inline-block;
width: auto;
min-width: 200px;
border-radius: 0;
border: 1px solid #d39325;
background: transparent;
color: #000;
text-transform: uppercase;
}

.margin0-5 {
    margin: 0 0 0 5px;
}
button:hover {
    background-color: #d39325 !important;
}
button {
    cursor: pointer;
}
.reviews-content h6{
    font-weight: bold;
}
.big-icon {
    font-size: 5rem;
display: block;
text-align: center;
}
.hidden {
    display: none;
}
.modal-backdrop.fade.show {
    background: #fff !important;
    opacity: 1 !important;
}
.modal-content {
    border: 0 !important;
}
.zapytaj-termin h2, .zapytaj-termin p {
    text-align: center;
}
.modal-content .zapytaj-termin {
    background-color: transparent;
}
.fa.fa-map-marker {
    color: #d39325;
}
.cert {
 
    background-color: #000;
    color: #fff;
    padding: 15px 20px;
    position: absolute;
    right: 0px;
    top: 25px;
    text-transform: uppercase;

}
.company_name .section-title {
    font-weight: bold;
}
.company_name {
    font-weight: bold;
margin-top: 50px;
position: relative;
}
.bold {
    font-weight: bold;
}
.gold-text {
     color:#d39325;
 }
 .list-subtite { 
     font-size: 20px;
 }
 
 .modal button.close {
     position: absolute;
right: 30px;
top: 15px;
z-index: 9;
font-size: 4rem;
 }
 .modal button.close:hover {
    background: transparent !important;
}